body{
    background-image: url("../images/bgtwo.png");
    text-align:center;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    font-family: "Righteous", cursive;
}
p{
    font-family: "railway";
    color:#777777;
}
h1{border-bottom: 5px solid #cccccc;
    background-color:white;
    font-size:30px;
    margin-top:0px;
    
}
.hi{
    background-color:#4aaaa5;
    color:white;
    width: 250px;
    margin-left:17%;
    padding-top:15px;
    padding-bottom:25px;
    padding-left:20px;
    text-align: left;
    }
.header{
    background-color: white;
}

.toplinks{
    float:right;
    margin-top:-50px;
    margin-right:16%;
}

#pagelink{
    color:slategray;
    text-decoration: none;
    size: 2px; 
}

h3{
        color:#4aaaa5;
        background-color:white;
        margin-right:700px;
        border-bottom: 5px solid #dddddd;
        clear: both;
        
      }
.mainbox{
        width: 960px;
        border:10px solid #dddddd;
        padding:45px;
        margin-left: 17%;
        margin-right:25%;
        margin-top:100px;
        margin-bottom:10%;
        background-color: #ffffff;
}
.mainboxinp{
    width: 960px;
    border:10px solid #dddddd;
    padding:45px;
    margin-left: 17%;
    margin-right:25%;
    margin-top:100px;
    margin-bottom:10%;
    background-color: #ffffff;
}
.mainboxport{
    width: 960px;
    border:10px solid #dddddd;
    padding:45px;
    margin-left: 17%;
    margin-right:25%;
    margin-top:100px;
    margin-bottom:10%;
    background-color: #ffffff;

}
.welhelo{
    margin-left:10px;
}
#bioimg{
    float:left;

}
.inp{
    clear:both;
    overflow:auto;
    text-align: left;
}
input[type=text], select{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;

}
.inputmsg[type=text], select{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}
.dogpics{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px auto 0 auto;
    justify-content: space-around;
}
.lineone{
    flex-direction: column;
    flex: 1;
    flex-basis: 30%;
    padding:20x;
    margin: 20px;
    box-sizing: border-box;
}
.linetwo{
    flex:1;
    flex-direction: column;
    flex-basis: 30%;
    margin: 20px;
    padding:20px;
    box-sizing: border-box;
}
.linethree{
    flex:1;
    flex-direction: column;
    flex-basis: 30%;
    margin:20px;
    padding:20px;
    box-sizing: border-box;
}




.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
    background-color:#666666;
    border-top: 8px solid #4aaaa5;
    
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.footer,
.push{
    height: 50px;
}