body{
    background-image: url("../images/bgtwo.png");
    text-align:center;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    font-family: "Righteous", cursive;
}
p{
    font-family: "railway";
    color:black;
    word-wrap: break-word;
}
h1{border-bottom: 5px solid #cccccc;
    background-color:white;
    font-size:30px;
    margin-top:0px;
    
}
.hi{
    background-color:#4aaaa5;
    color:white;
    width: 17%;
    margin-left:17%;
    padding-top:15px;
    padding-bottom:25px;
    padding-left:20px;
    text-align: left;
    }
.header{
    background-color: white;
}

.toplinks{
    float:right;
    margin-top:-50px;
    margin-right:16%;
}

#pagelink{
    color:slategray;
    text-decoration: none;
    size: 2px; 
}
h2{
    color:#4aaaa5;
    background-color:white;
    margin-right:70%;
    border-bottom: 5px solid #dddddd;
    width:100%
}
h3{
        color:#4aaaa5;
        background-color:white;
        margin-right:70%;
        border-bottom: 5px solid #dddddd;
        clear: both;
        
      }
.wordcontainer{
        border:10px solid #dddddd;
        width:75%;
        padding:45px;
        margin-left: 12.5%;
        margin-right:12.5%;
        margin-top:10%;
        margin-bottom:10%;
        background-color: #ffffff;
        text-emphasis: wrap;
}
.mainboxinp{
    width: 75%;
    border:10px solid #dddddd;
    padding:45px;
    margin-left: 12.5%;
    margin-right:12.5%;
    margin-top: 10%;
    margin-bottom:20%;
    background-color: #ffffff;
}
.mainboxport{
    width: 75%;
    border:10px solid #dddddd;
    padding:3rem;
    margin-left: 12.5%;
    margin-right:12.5%;
    margin-top:10%;
    margin-bottom:10%;
    background-color: #ffffff;

}
.welhelo{
    margin-left:10px;
}
#bioimg{
    float:left;

}
.inp{
    clear:both;
    overflow:auto;
    text-align: left;
    flex:1;
}
input[type=text], select{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;

}
.inputmsg[type=text], select{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}
img{
    padding:5px;
}
.wrapper{
    width:100%;
    background-color:#666666;
    border-top: 8px solid #4aaaa5;
    
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.footer,
.push{
    height: 3rem;
    margin: 0;


}
.wrapper{
    position: static;
    bottom:0;
}
@media only screen and (max-width: 980px){
    .wordcontainer, .mainboxinp, .mainboxport{
        margin-left: 5%;
        width: auto;
    }

    .hi{margin:0px;
    width:auto;
    text-align: center;
    height: 2.5rem;}
    .linksheader{
        background-color: white;
        height: 2rem;
    }
    .pagelink{
        text-decoration: none;
        padding:10px;
        color: #4aaaa5;
    }
}
@media only screen and (max-width: 768px){}
.wordcontainer, .mainboxinp, .mainboxport{
    margin:5rem;
    width: auto;
}
.linksheader{
    background-color:white;
        height: 2.5rem;

}
.pagelink{
    text-decoration: none;
    padding:10px;
    color: #4aaaa5;
}

.hi{margin:0px;
width:auto;
text-align: center;
height: 2.5rem;}

@media only screen and (max-width: 640px){
    .wordcontainer, .mainboxinp, .mainboxport{
        margin:4px;
        width: auto;
    }

    .hi{margin:0px;
    width:auto;
    text-align: center;
    height: 2.5rem;}

    .toplinks{
        background-color: white
        padding-top: 40px; 
    }
    .header{
        height: 5rem;
    }
    .linksheader{
        background-color: white;
        height: 2rem;
    }
    .pagelink{
        text-decoration: none;
        padding:10px;
        color: #4aaaa5;
    }
    .header2{
        margin-bottom: 10px;
        min-width: auto;
    }
    .wrapper{
        max-width: 110%;
    }
